* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background:  rgb(61, 61, 61);
}

.slider_wrapper {
    margin: 0 auto;
    margin-top: 5rem;
    max-width: 45rem;
    border-radius: 2%;
    overflow: hidden;
    height: 35rem;
    background-color: azure;
}

img{
    width: 96%;
    padding: 0.9rem;
    height: 23rem;
    object-fit: scale-down;
    margin: 0 auto;
}

.slides {
    display: flex;
    width: 400%;
}

.slide {
    transition: 1.5s ease;
    width: 25%;
    height: 100%;
}

.meme-title{
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
}

.meme-title {
    margin: 1rem 0 0 1rem;
    color: rgb(0, 0, 0);
    letter-spacing: 0.1em;
    transition: .4s;
}

.controls{
    align-items: center;
    transform: translateX(0%);
    display: flex;
    margin-top: 1rem;
    transition: 1s ease;
    animation-name: left;
}

.dot {
    cursor: pointer;
    width: 3rem;
    border-radius: 0.5rem;
    height: 0.5rem;
    background:linear-gradient(10deg, #6bd9e3 0, #1360f9 100%);
    transition: all 1s ease-in-out;
}

label {
    padding: 0.7rem;
}

.dot:hover {
    background:linear-gradient(10deg, #bb6be3 0, #1360f9 100%);
}

input[name="radio"] {
    visibility: hidden;
}